#topButton {
    position: fixed;
    bottom: 70px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url('uploads/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white);
    filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white);
}

#bottomButton {
    position: fixed;
    bottom: 5px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-image: url('uploads/down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white);
    filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white);
}