#topButton {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    border: 2px solid white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

#topButton span {
    display: inline-block;
    width: 100%;
}